h1 {
    color:royalblue
}
body {
    background-color:peachpuff
  }
  table, th, td {
    width: 30%;
    margin-left: 70%;
    border:1px solid black;
    
}
caption {color:blueviolet
}
h3 {color: navy;
}
img {width:25%;
     height: 25%;
 margin-left: 70%; 
}